<style>

    table,td,th
    {
        border:1px solid grey;
        margin-left: 500px;
    }
    table
    {
        border-collapse: collapse;
        margin-left: 500px;
    }
</style>

</head>


<span style="color: blueviolet; font-size: large; margin: 600px;"> {{username}} , your score is {{score}} </span>


<table>

   <tr>
    <th>Qno</th>
    <th>Question</th>
    <th>Correct Answer</th>
    <th>Submitted Answer</th>
  </tr>

    {% for list in listoflist %}

        <tr>
                <td> {{list.0}} </td>
                <td> {{list.1}} </td>
                <td> {{list.2}} </td>
                <td> {{list.3}} </td>

        </tr>

    {% endfor %}

</table>
